/* reset css */
body {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
  font-family: "Noto Sans TC", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

/* global setting */
:root {
  --main-background-color: #ffffff;
  --font-color: #2a2a2a;
  --logo-img: url("/public/image/Logo@2x.png");
  --search-img: url("/public/image/icon-search@2x.png");
  --shop-img: url("/public/image/icon-shop@2x.png");
  --switchMode-img: url("/public/image/icon-toDark@2x.png");
}

[data-theme=dark] {
  --main-background-color: #121212;
  --font-color: #ffffff;
  --logo-img: url("/public/image/Logo-dark@2x.png");
  --search-img: url("/public/image/icon-search-dark@2x.png");
  --shop-img: url("/public/image/icon-shop-dark@2x.png");
  --switchMode-img: url("/public/image/icon-toLight@2x.png") ;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/* header setting */
header {
  height: 60px;
}
header .navbar {
  position: relative;
}
header .navbar .menus a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--font-color);
  margin-right: 33px;
}
header .navbar .logo {
  width: 170px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
header .navbar .logo .logo-img {
  content: var(--logo-img);
  width: 100%;
}
header .navbar .icons .icon {
  width: 24px;
  margin-left: 31px;
}
header .navbar .icons .icon-search {
  content: var(--search-img);
  width: 100%;
}
header .navbar .icons .icon-shop {
  content: var(--shop-img);
  width: 100%;
}
header .navbar .icons .icon-mode {
  content: var(--switchMode-img);
  width: 100%;
}/*# sourceMappingURL=main.css.map */