/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

/* global setting */
:root {
  --main-background-color: #ffffff;
  --font-color: #2a2a2a;
  --logo-img: url("/public/image/Logo@2x.png");
  --search-img: url("/public/image/icon-search@2x.png");
  --shop-img: url("/public/image/icon-shop@2x.png");
  --switchMode-img: url("/public/image/icon-toDark@2x.png");
  --circle-bgColor: #ffffff;
  --active-circle-bgColor: #2a2a2a;
  --form-font-color: #808080;
  --form-items-color: #4a4a4a;
  --form-placeholder-font-color: #999999;
  --form-radio-border-color: #f0f0f5;
  --form-radio-title-color: #000000;
  --form-radio-font-color: #000000;
  --form-radioInput-border-color: #222222;
  --form-radioInput-background-color: #FFFFFF;
  --form-radioInput-uncheck-width: 1px;
  --form--radioInput-checked-width: 6px;
  --divider-color: #e6e6eb;
}

[data-theme="dark"] {
  --main-background-color: #121212;
  --font-color: #ffffff;
  --logo-img: url("/public/image/Logo-dark@2x.png");
  --search-img: url("/public/image/icon-search-dark@2x.png");
  --shop-img: url("/public/image/icon-shop-dark@2x.png");
  --switchMode-img: url("/public/image/icon-toLight@2x.png");
  --circle-bgColor: #121212;
  --active-circle-bgColor: #333333;
  --form-font-color: rgba(255, 255, 255, 0.4);
  --form-items-color: #5e5e5e;
  --form-placeholder-font-color: rgba(255, 255, 255, 0.3);
  --form-radio-border-color: #5e5e5e;
  --form-radio-title-color: #ffffff;
  --form-radio-font-color: rgba(255, 255, 255, 0.4);
  --form-radioInput-border-color: #333333;
  --form-radioInput-background-color: #FFFFFF;
  --form-radioInput-uncheck-width: 6px;
  --form--radioInput-checked-width: 50%;
  --divider-color: rgba(255, 255, 255, 0.2);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

$sizes: (
  25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);

/* 使用@each 產出css size設定 */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num,
  $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: ($spacer * 0.75),
  4: $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  7: ($spacer * 1.75),
  8: ($spacer * 2),
  9: ($spacer * 2.25),
  10: ($spacer * 2.5),
  11: ($spacer * 2.75),
  12: ($spacer * 3)
);

/* 使用@each 產出css spacer設定 */
@each $prop,
$abbrev in (margin: m, padding: p) {

  @each $num,
  $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }

    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }

    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }

    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }

    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }

    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }

    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}


@mixin font-setting($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin img-setting($content, $width) {
  content: $content;
  width: $width;
}

@mixin get-step-num($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle::after {
      content: "#{$i}";
    }
  }
}

@mixin circle-setting($width-height, $color, $background-color, $border-color, $font-size) {
  width: $width-height;
  height: $width-height;
  color: $color;
  background-color: $background-color;
  font-size: $font-size;
  border-color: $border-color;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin radio-boxshadow-setting($shadow-width, $shadow-color) {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 $shadow-width $shadow-color;
}

/* header setting */
header {
  height: 60px;
  .navbar{
    position: relative;
    .menus {
      width: 35%;
      a {
        @include font-setting(1rem, 500, var(--font-color));
        }
    }
    .logo {
      width: 170px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .logo-img {
        content: var(--logo-img);
        width: 100%;
      }
    }
    .icons {
      .icon {
        width: 24px;
        margin-left: 31px;
      }

      .icon-search {
        @include img-setting(var(--search-img), 100%);
      }
      .icon-shop {
        @include img-setting(var(--shop-img), 100%);
      }
      .icon-mode {
        @include img-setting(var(--switchMode-img), 100%);
      }
    }
  }
}

.main-container {
  display: grid;
  grid-template-columns: 6fr 1.5fr 5fr;
  .pay-container {
    grid-column: 1/2;
    .stepper-title {
      @include font-setting(2rem, 700, var(--font-color))
    }
    .stepper-container {
      margin: 3rem 0;
      position: relative;
      .step {
        @include get-step-num(3);
        background-color: var(--main-background-color);
        .circle {
          @include circle-setting( 24px, #AFB1BD, var(--circle-bgColor), #AFB1BD, 12px);
          margin-right: 8px;
        }
        .label {
          font-size: 1rem;
          color: #AFB1BD;
        }
        .progress {
          z-index: -1;
          position: absolute;
          height: 1px;
          background-color: #AFB1BD;
          top: 50%;
          &.progress-left {
            left: 0;
            right: 50%;
          }
          &.progress-right {
            left: 50%;
            right: 0;
          }
        }

        &.active,
        &.done {
          .circle {
            @include circle-setting(24px, #ffffff, var(--active-circle-bgColor), var(--active-circle-bgColor), 12px);
          }
          .progress-label {
            color: var(--font-color);
          }
          .progress {
            background-color: var(--font-color);
            border: 0.5px solid var(--font-color);
          }
        }
        &.done {
          .circle::after {
            content: '';
            display: inline-block;
            background-image: url('../../public/image/Vector@2x.png');
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: center;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

.forms {
  .form-title {
    @include font-setting(1.5rem, 700, var(--font-color)); 
  }
  input:not([type="radio"]),
  select {
    -webkit-appearance: none;
    border: 1px solid var(--form-items-color);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 18px;
    width: 100%;
    height: 40px;
    @include font-setting(12px, 400, var(--font-color));
  
    &:invalid {
      @include font-setting(12px, 400, var(--form-placeholder-font-color));
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 5px 2px rgba(#f67599, 0.4);
    }
  }
  select {
    cursor: pointer;
  }

  .select-wrapper {
    position: relative;
    z-index: 0;
    &::after {
      content: "";
      border-style: solid;
      border-width: 5px 4.5px 0 4.5px;
      border-color: var(--form-items-color) transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  .step-one {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 4rem);
    gap: 24px 30px;
    label {
      @include font-setting(12px, 700, var(--form-font-color));
      display: block;
      margin-bottom: 0.5rem;
    }
    .address-tilte {
      grid-column: 1/7;
      grid-row: 1/2;
    }
    .appellation {
      grid-column: 1/3;
      grid-row: 2/3;
    }
    .name {
      grid-column: 3/7;
      grid-row: 2/3;
    }
    .phone {
      grid-column: 1/4;
      grid-row: 3/4;
    }
    .email {
      grid-column: 4/7;
      grid-row: 3/4;
    }
    .city {
      grid-column: 1/3;
      grid-row: 4/5;
    }
    .address {
      grid-column: 3/7;
      grid-row: 4/5;
    }
  }

  .step-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 4rem);
    gap: 24px;
    input[type="radio"] {
      -webkit-appearance: none;
      margin: 0 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      @include radio-boxshadow-setting(var(--form-radioInput-uncheck-width), var(--form-radioInput-border-color));
      display: inline-block;
      pointer-events: none;
      &:checked {
        @include radio-boxshadow-setting(var(--form--radioInput-checked-width), var(--form-radioInput-border-color));
      }
    }
    label {
      width: 100%;
      height: 100%;
      border: 1px solid var(--form-radio-border-color);
      border-radius: 4px;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      &.checked {
        border-color: var(--form-radio-title-color);
      }
      &:hover {
        box-shadow: 0 0 5px 2px rgba(#f67599, 0.4);
      }
      .deliver-info {
        display: inline-block;
        pointer-events: none;
        h5 {
          @include font-setting(14px, 700, var(--form-radio-title-color));
        }
        p {
          @include font-setting(12px, 400, var(--form-radio-font-color));
        }
      }
      .cost {
        position: absolute;
        top: 13px;
        right: 20px;
        @include font-setting(12px, 400, var(--font-color));
        pointer-events: none;
      }
    }
  }

  .step-three {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 4rem);
    gap: 24px 30px;
    label {
      @include font-setting(12px, 700, var(--form-font-color));
      display: block;
      margin-bottom: 0.5rem;
    }
    .form-title {
      grid-column: 1/7;
      grid-row: 1/2;
    }
    .card-name {
      grid-column: 1/5;
      grid-row: 2/3;
    }
    .card-number {
      grid-column: 1/5;
      grid-row: 3/4;
    }
    .card-date {
      grid-column: 1/4;
      grid-row: 4/5;
    }
    .card-code {
      grid-column: 4/7;
      grid-row: 4/5;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--divider-color);
  }
  .btn-container {
    .btn {
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
    .btn-back {
      @include font-setting(14px, 400, var(--font-color))
    }
    .btn-primary {
      @include font-setting(14px, 400, #ffffff);
      background-color: #f67599;
      border-radius: 8px;
      padding: 14.5px 47.5px;
    }
  }
}