/* reset css */
body {
  margin: 0;
  padding: 0;
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
  font-family: 'Noto Sans TC', sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

/* global setting */
:root {
  --main-background-color: #ffffff;
  --font-color: #2a2a2a;
  --logo-img: url("/public/image/Logo@2x.png");
  --search-img: url("/public/image/icon-search@2x.png");
  --shop-img: url("/public/image/icon-shop@2x.png");
  --switchMode-img: url("/public/image/icon-toDark@2x.png");
  --circle-bgColor: #ffffff;
  --active-circle-bgColor: #2a2a2a;
}

[data-theme="dark"] {
  --main-background-color: #121212;
  --font-color: #ffffff;
  --logo-img: url("/public/image/Logo-dark@2x.png");
  --search-img: url("/public/image/icon-search-dark@2x.png");
  --shop-img: url("/public/image/icon-shop-dark@2x.png");
  --switchMode-img: url("/public/image/icon-toLight@2x.png");
  --circle-bgColor: #121212;
  --active-circle-bgColor: #333333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

$sizes: (
  25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);

/* 使用@each 產出css size設定 */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num,
  $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: ($spacer * 0.75),
  4: $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  7: ($spacer * 1.75),
  8: ($spacer * 2)
);

/* 使用@each 產出css spacer設定 */
@each $prop,
$abbrev in (margin: m, padding: p) {

  @each $num,
  $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }

    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }

    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }

    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }

    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }

    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }

    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}


@mixin font-setting($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin img-setting($content, $width) {
  content: $content;
  width: $width;
}

@mixin get-step-num($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle::after {
      content: "#{$i}";
    }
  }
}

@mixin circle-setting($width-height, $color, $background-color, $border-color, $font-size) {
  width: $width-height;
  height: $width-height;
  color: $color;
  background-color: $background-color;
  font-size: $font-size;
  border-color: $border-color;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header setting */
header {
  height: 60px;
  .navbar{
    position: relative;
    .menus {
      width: 35%;
      a {
        @include font-setting(1rem, 500, var(--font-color));
        }
    }
    .logo {
      width: 170px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .logo-img {
        content: var(--logo-img);
        width: 100%;
      }
    }
    .icons {
      .icon {
        width: 24px;
        margin-left: 31px;
      }

      .icon-search {
        @include img-setting(var(--search-img), 100%);
      }
      .icon-shop {
        @include img-setting(var(--shop-img), 100%);
      }
      .icon-mode {
        @include img-setting(var(--switchMode-img), 100%);
      }
    }
  }
}

.main-container {
  display: grid;
  grid-template-columns: 5fr 1fr 4fr;
  .pay-container {
    grid-column: 1/2;
    .stepper-title {
      @include font-setting(2rem, 700, var(--font-color))
    }
    .stepper-container {
      margin: 4rem 0;
      position: relative;
      .step {
        @include get-step-num(3);
        background-color: var(--main-background-color);
        .circle {
          @include circle-setting( 24px, #AFB1BD, var(--circle-bgColor), #AFB1BD, 12px);
          margin-right: 8px;
        }
        .label {
          font-size: 1rem;
          color: #AFB1BD;
        }
        .progress {
          z-index: -1;
          position: absolute;
          height: 1px;
          background-color: #AFB1BD;
          top: 50%;
          &.progress-left {
            left: 0;
            right: 50%;
          }
          &.progress-right {
            left: 50%;
            right: 0;
          }
        }

        &.active,
        &.done {
          .circle {
            @include circle-setting(24px, #ffffff, var(--active-circle-bgColor), var(--active-circle-bgColor), 12px);
          }
          .label {
            color: var(--font-color);
          }
          .progress {
            background-color: var(--font-color);
            border: 0.5px solid var(--font-color);
          }
        }
      }
    }
  }
}